<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ config.base_url }}/print.css" media="print">
        <link rel="stylesheet" href="{{ config.base_url }}/poole.css">
        <link rel="stylesheet" href="{{ config.base_url }}/lanyon.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ config.base_url }}/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/contrib/auto-render.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css" integrity="sha384-exe4Ak6B0EoJI0ogGxjJ8rn+RN3ftPnEQrGwX59KTCl5ybGzvHGKjhPKk/KC3abb" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.js" integrity="sha384-OMvkZ24ANLwviZR2lVq8ujbE/bUO8IR1FdBrKLQBI14Gq5Xp/lksIccGkmKL8m+h" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="{{ config.base_url }}/site.js"></script>
        {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ config.base_url }}/rss.xml">
        {% endif %}

        {% block extra_head %}
        {% endblock extra_head %}
    <script>
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://assets.gfycat.com/gfycat.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'gfycat-js'));
    </script>
    </head>

    <body>
        <div class="wrap">
            <div class="masthead">
                <div class="container">
                    <h3 class="masthead-title">
                        <a href="{{config.base_url}}/" title="Home">{{config.title}}</a>
                        <small>Blog</small>
                        <a href="https://github.com/maikklein" target="_blank"><i class="icon-github"></i></a>
                        <a href="https://twitter.com/MaikKlein_DEV" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="{{config.base_url}}/rss.xml" target="_blank"><i class="icon-rss"></i></a>
                        <a href="https://www.patreon.com/maikklein" target="_blank"><i class="fab fa-patreon"></i></a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="content container">
            {% block content %}
            <div class="posts">
                {% for page in section.pages %}
                <div class="post">
                    {% if not page.draft %}
                    <h1 class="post-title">
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </h1>

                    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>

                    {% endif %}
                    {% endfor %}
                </div>
                {% endblock content %}
            </div>


            <script>
             renderMathInElement(document.body,
                                 {
                                     delimiters: [
                                         {left: "$$", right: "$$", display: true},
                                         {left: "$", right: "$", display: false},
                                         {left: "\\[", right: "\\]", display: true}
                                     ],
                                 }
             );
            </script>
    </body>
</html>
